body {
    height: 100%;
    margin: 0;
    font: 400 18px/1.8 'Barlow', sans-serif;
    color: #191919;
    background-color: #f7f7f7;
        }

.aboutSection {
    text-align: center;
    margin-bottom: 20px;

}
.quoteBody {
    text-align: right;
    margin-bottom: 30px;
    font-style: italic;

}
.textSection{
    margin-bottom: 30px;
}
.nav-item{
    font-weight:700;
    font-size:large;

    text-align: center;
    margin-left: 60px;
}

.navbar-brand{
    font-size:large;
}

.foot{
    color:white;
}

.d-flex{
    background-color: black;
}

.brain{
    font-weight:700;
    font-size:large;

    text-align: center;
    margin-left: 60px;
}

.lang{
    font-size:x-large;
    font-weight: 700;
}

