/*nav bar*/
@import url(./index.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'barlow', sans-serif;
}

/*header*/
.header-box{
    background: #345B63;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #f7f7f7;
    padding-top: 47px;
}

/* main section*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #345B63;
}

/*wrapper*/
.wrapper{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
/* contact info */
.wrapper .contactInfo{
    position:absolute;
    top: 40px;
    width: 400px;
    height: calc(100% - 80px);
    background: #66BFBF;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.wrapper .contactInfo h2{
    color: #f7f7f7;
    font-size: 24px;
    font-weight: 500;
}
.wrapper .contactInfo .info{
    position: relative;
    margin: 20px 0;
}
.wrapper .contactInfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.wrapper .contactInfo .info li span:nth-child(1){
    width: 40px;
    min-width: 40px;
}
.spanColor{
    color: #191919;
}
.spanColor svg{
    max-width: 100%;
    filter: invert();
}
.wrapper .contactInfo .info li a{
    text-decoration: none;
    color: #f7f7f7;
}
.wrapper .contactInfo .info li span:nth-child(2){
    color: #f7f7f7;
    margin-left: 10px;
    font-weight: 300;
}
/*contact form*/
.wrapper .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 180px;
    width: calc(100% - 180px);
    height: 100%;
    background: #f7f7f7;
    box-shadow: 0 50px 50px rgba(0,0,0,0.15);
}
.wrapper .contactForm h2{
    color: #1c00b5;
    font-size: 24px;
    font-weight: 500;
}
.wrapper .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.wrapper .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}
.wrapper .contactForm .formBox .w50{
    width: 47%;
}
.wrapper .contactForm .formBox .w100{
    width: 100%;
}
.wrapper .contactForm .formBox .inputBox input,
.wrapper .contactForm .formBox .inputBox textarea
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.wrapper .contactForm .formBox .inputBox textarea{
    height: 100px;

}
.wrapper .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 4px 2px;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.wrapper .contactForm .formBox .inputBox input:focus ~ span,
.wrapper .contactForm .formBox .inputBox input:valid ~ span,
.wrapper .contactForm .formBox .inputBox textarea:focus ~ span,
.wrapper .contactForm .formBox .inputBox textarea:valid ~ span{
transform: translateY(-35px);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #1c00b5;
    font-weight: 500;
}
.wrapper .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #1c00b5;
    color: #f7f7f7;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.wrapper .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #f7f7f7;
    color: #1c00b5;
    border: 1px solid #777;
    font-weight: 700;
    transition: 0.3s;
}
/* make it responsive*/
@media (max-width:1200px ) {
    .wrapper{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
    .contactInfo{
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }
    .contactForm{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    section{
        background: #345B63;
    }
    .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .contactForm{
        width: 100%;
        height: auto;
    }
    .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
}
@media (max-width: 600px){
    .contactForm{
        padding: 25px;
        flex-direction: column;
    }
    .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
}
/* footer*/
.foot{
    color:white;
    font-size: 18px;
    text-align: center;
    margin:0 auto;

}

.d-flex{
    background-color: black;
}