*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'barlow', sans-serif;
}
/*nav bar*/
.nav-item{
    font-weight:700;
    font-size:large;
    text-align: center;
    margin-left: 60px;
}
.navbar-brand{
    font-size:large;
}
/*header*/
.header-box{
    background: #345B63;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #f7f7f7;
    padding-top: 100px;
}

/* main section*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #345B63;
}

/*wrapper*/
.wrapper{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
/* contact info */
.wrapper .contactInfo{
    position:absolute;
    top: 40px;
    width: 400px;
    height: calc(100% - 80px);
    background: #66BFBF;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.wrapper .contactInfo h2{
    color: #f7f7f7;
    font-size: 24px;
    font-weight: 500;
}
.wrapper .contactInfo .info{
    position: relative;
    margin: 20px 0;
}
.wrapper .contactInfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.wrapper .contactInfo .info li span:nth-child(1){
    width: 40px;
    min-width: 40px;
}
.wrapper .contactInfo .info li span:nth-child(1) svg{
    max-width: 100%;
    filter: invert();
}
.wrapper .contactInfo .info li span:nth-child(2){
    color: #f7f7f7;
    margin-left: 10px;
    font-weight: 300;
}
/*contact form*/
.wrapper .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #f7f7f7;
    box-shadow: 0 50px 50px rgba(0,0,0,0.15);
}

/* footer*/
.foot{
    color:white;
}
.d-flex{
    background-color: black;
}