.foot{
    color:white;
}

.nav-item{
    font-weight:bold;
    font-style:italic;
}
.float-end{
    color:white;
}
.head{
    color:blue;font-weight:bold ;
}

.head1{
    color: black;font-weight:bold ;
}