
.nav-item{
  font-weight:700;
  font-size:large;
  
  text-align: center;
  margin-left: 60px;
}

.navbar-brand{
  font-size:large;  
}


.header {
    min-height: 20vh;
    width: 90%;
    margin:auto;
    background-position: center;
    background-size: cover;
    position: relative;
  }
body{
    font: 400 18px/1.8 'Barlow', sans-serif;
    background-color: #f7f7f7
}
.diplay-4{
    font-size: 50px;
    color: #191919;
    margin-top: 20px;  
}
h4{
  color: #191919;
}
p{
  color: #191919;
}
.card-body {
  background-color: #e1dfda ;
  }
.team{
  margin-top: 30px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 30%
  }
    .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  q {
    font-style: italic;
}


.foot{
  color:white;
}

.d-flex{
  background-color: black;
}